<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
	    <title><%= title %></title>
        <!-- Bootstrap core CSS -->
        <link href="/stylesheets/pinegrow/bootstrap/css/bootstrap.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="/stylesheets/pinegrow/starter-template.css" rel="stylesheet">
        <link href="/stylesheets/pinegrow/bootstrap/css/free-icons.min.css" rel="stylesheet">
    </head>
    <body>
        <% include menu %>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <img class="border border-0 border-light img-thumbnail w-100" src="../../images/todo_150.jpg" alt="">
                </div>
                <div class="align-middle col-md-6 mt-5 text-center">
                    <h1 class="m-n3">My task list</h1>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
            </div>
            <div class="starter-template"></div>
            <div>
                <div class="row" style="margin-bottom: 30px; padding-bottom: 10px; border-bottom: 1px solid gray;">
                    <div class="col-md-4">
                        <h3>DAY OR WEEK</h3>
                    </div>
                    <div class="col-md-6">
                        <h3>TASKS</h3>
                    </div>
                    <div class="col-md-2">
                        <a class="nav-link active icon-config icon-create20g" data-toggle="modal" data-target="#createTodoModal" style="margin-top: 20px;"></a>
                    </div>
                </div>
            </div>

            <% todos.forEach(todo => { %>
                <div>
                    <div class="row" style="margin-top: 15px;">
                        <div class="col-md-4">
                            <input readonly name="title" type="text" id="<%=todo.id%>" class="form-control" value="<%=todo.id%>" style="width: 98%; margin: 1%; font-weight: bold; color: #C3C3C3; background: #ffffff !important; border: 0px solid #ffffff !important;" onclick="editTodoNewPage(this)">
                            <input readonly name="title" type="text" id="<%=todo.id%>#<%=todo.title%>" class="form-control" value="<%=todo.title%>" style="width: 98%; margin: 1%; font-weight: bold; color: #0056BA; background: #ffffff !important; border: 0px solid #ffffff !important;" onclick="editTodoCurrentPage(this)">
                        </div>
                        <div class="col-md-8" style="border-bottom: 1px solid rgb(223, 220, 220); margin-top: 10px;">
                            <ul>
                                <% todo.todoitems.forEach(item => { %>
                                    <li><p><%= item.description %></p></li>
                                <% }) %>
                            </ul>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>

            <!-- xxModal CREATE NEW TODO -->
            <div class="modal fade" id="createTodoModal" tabindex="-1" role="dialog" aria-labelledby="createTodoModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <form action="/todo/createbytitle" method="post" id="modal_todo_form">
                            <div class="modal-header">
                                <h5 class="modal-title" id="createTodoModalLabel">New Todo</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <input name="titlecreation" id="titlecreation_id" type="text" class="form-control-plaintext form-control" style="padding: 5px; background: #F2F8FD" placeholder="please, title here..."/>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Skip</button>
                                <button type="submit" class="btn btn-primary">Create Todo</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        <!-- /.container -->
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="/stylesheets/pinegrow/assets/js/jquery.min.js"></script>
        <script src="/stylesheets/pinegrow/assets/js/popper.js"></script>
        <script src="/stylesheets/pinegrow/bootstrap/js/bootstrap.min.js"></script>

        <script type="text/javascript">

            function editTodoNewPage(obj) {
                let url = '/todo/edit/t/' + obj.attributes.id.value;
                window.open(url);
            }

            function editTodoCurrentPage(obj) {
                let tokens = obj.attributes.id.value.split('#');
                let url = '/todo/edit/t/' + tokens[0];
                window.location.replace(url);
            }

        </script>

        
    </body>
</html>

